[submodule ".legacy-database/ddl"]
	path = .legacy-database/ddl
	url = https://bitbucket.org/mwnf/database-creation.git
	shallow = true
[submodule ".legacy-database/data"]
	path = .legacy-database/data
	url = https://bitbucket.org/mwnf/database-content.git
	shallow = true
[submodule ".legacy-code/islamicart"]
	path = .legacy-code/islamicart
	url = https://bitbucket.org/mwnf/islamicart.museumwnf.org.git
	shallow = true
[submodule ".legacy-code/baroqueart"]
	path = .legacy-code/baroqueart
	url = https://bitbucket.org/mwnf/baroqueart.museumwnf.org.git
	shallow = true
[submodule ".legacy-code/sharinghistory"]
	path = .legacy-code/sharinghistory
	url = https://bitbucket.org/mwnf/sharinghistory.museumwnf.org.git
	shallow = true
[submodule ".legacy-code/explore"]
	path = .legacy-code/explore
	url = https://bitbucket.org/mwnf/explore.museumwnf.net.git
	shallow = true
[submodule ".legacy-code/dxa-api"]
	path = .legacy-code/dxa-api
	url = https://bitbucket.org/mwnf/dxa-api.git
	shallow = true
[submodule ".legacy-code/dxa-client"]
	path = .legacy-code/dxa-client
	url = https://bitbucket.org/mwnf/dxa-client.git
	shallow = true
[submodule ".legacy-code/exhibitions-client"]
	path = .legacy-code/exhibitions-client
	url = https://bitbucket.org/mwnf/exhibitions-client.git
	shallow = true
[submodule ".new-architecture/viewer-core"]
	path = .new-architecture/viewer-core
	url = https://github.com/museumwithnofrontiers/viewer-core
[submodule ".new-architecture/viewer-layout"]
	path = .new-architecture/viewer-layout
	url = https://github.com/museumwithnofrontiers/viewer-layout
[submodule ".new-architecture/viewer-workflows"]
	path = .new-architecture/viewer-workflows
	url = https://github.com/museumwithnofrontiers/viewer-workflows
[submodule ".new-architecture/website-template"]
	path = .new-architecture/website-template
	url = https://github.com/museumwithnofrontiers/website-template
[submodule ".new-architecture/islamicart"]
	path = .new-architecture/islamicart
	url = https://github.com/museumwithnofrontiers/islamicart
[submodule ".new-architecture/baroqueart"]
	path = .new-architecture/baroqueart
	url = https://github.com/museumwithnofrontiers/baroqueart
[submodule ".new-architecture/sharinghistory"]
	path = .new-architecture/sharinghistory
	url = https://github.com/museumwithnofrontiers/sharinghistory
[submodule ".new-architecture/carpets"]
	path = .new-architecture/carpets
	url = https://github.com/museumwithnofrontiers/carpets
[submodule ".new-architecture/water-in-islam"]
	path = .new-architecture/water-in-islam
	url = https://github.com/museumwithnofrontiers/water-in-islam
[submodule ".new-architecture/amulets"]
	path = .new-architecture/amulets
	url = https://github.com/museumwithnofrontiers/amulets
[submodule ".new-architecture/the-use-of-colours-in-art"]
	path = .new-architecture/the-use-of-colours-in-art
	url = https://github.com/museumwithnofrontiers/the-use-of-colours-in-art
[submodule ".new-architecture/viewer-i18n"]
	path = .new-architecture/viewer-i18n
	url = https://github.com/museumwithnofrontiers/viewer-i18n
[submodule ".legacy-code/office4"]
	path = .legacy-code/office4
	url = https://bitbucket.org/mwnf/office4
[submodule ".new-architecture/coins-medals"]
	path = .new-architecture/coins-medals
	url = https://github.com/museumwithnofrontiers/coins-medals
[submodule ".new-architecture/arms-armoury"]
	path = .new-architecture/arms-armoury
	url = https://github.com/museumwithnofrontiers/arms-armoury
[submodule ".new-architecture/arts-in-dialogue"]
	path = .new-architecture/arts-in-dialogue
	url = https://github.com/museumwithnofrontiers/arts-in-dialogue
[submodule ".new-architecture/calligraphy"]
	path = .new-architecture/calligraphy
	url = https://github.com/museumwithnofrontiers/calligraphy
[submodule ".new-architecture/ceramics"]
	path = .new-architecture/ceramics
	url = https://github.com/museumwithnofrontiers/ceramics
[submodule ".new-architecture/clothing"]
	path = .new-architecture/clothing
	url = https://github.com/museumwithnofrontiers/clothing
[submodule ".new-architecture/funerary-objects"]
	path = .new-architecture/funerary-objects
	url = https://github.com/museumwithnofrontiers/funerary-objects
[submodule ".new-architecture/glass"]
	path = .new-architecture/glass
	url = https://github.com/museumwithnofrontiers/glass
[submodule ".new-architecture/gold-silver"]
	path = .new-architecture/gold-silver
	url = https://github.com/museumwithnofrontiers/gold-silver
[submodule ".new-architecture/jewellery"]
	path = .new-architecture/jewellery
	url = https://github.com/museumwithnofrontiers/jewellery
[submodule ".new-architecture/landscapes"]
	path = .new-architecture/landscapes
	url = https://github.com/museumwithnofrontiers/landscapes
[submodule ".new-architecture/leatherworks"]
	path = .new-architecture/leatherworks
	url = https://github.com/museumwithnofrontiers/leatherworks
[submodule ".new-architecture/manuscripts"]
	path = .new-architecture/manuscripts
	url = https://github.com/museumwithnofrontiers/manuscripts
[submodule ".new-architecture/metalwork"]
	path = .new-architecture/metalwork
	url = https://github.com/museumwithnofrontiers/metalwork
[submodule ".new-architecture/mosaics"]
	path = .new-architecture/mosaics
	url = https://github.com/museumwithnofrontiers/mosaics
[submodule ".new-architecture/musical-instruments"]
	path = .new-architecture/musical-instruments
	url = https://github.com/museumwithnofrontiers/musical-instruments
[submodule ".new-architecture/paintings"]
	path = .new-architecture/paintings
	url = https://github.com/museumwithnofrontiers/paintings
[submodule ".new-architecture/photographs"]
	path = .new-architecture/photographs
	url = https://github.com/museumwithnofrontiers/photographs
[submodule ".new-architecture/porcelain"]
	path = .new-architecture/porcelain
	url = https://github.com/museumwithnofrontiers/porcelain
[submodule ".new-architecture/portraits"]
	path = .new-architecture/portraits
	url = https://github.com/museumwithnofrontiers/portraits
[submodule ".new-architecture/precious-stones"]
	path = .new-architecture/precious-stones
	url = https://github.com/museumwithnofrontiers/precious-stones
[submodule ".new-architecture/prints-drawings"]
	path = .new-architecture/prints-drawings
	url = https://github.com/museumwithnofrontiers/prints-drawings
[submodule ".new-architecture/religious-life"]
	path = .new-architecture/religious-life
	url = https://github.com/museumwithnofrontiers/religious-life
[submodule ".new-architecture/scientific-objects"]
	path = .new-architecture/scientific-objects
	url = https://github.com/museumwithnofrontiers/scientific-objects
[submodule ".new-architecture/sculptures"]
	path = .new-architecture/sculptures
	url = https://github.com/museumwithnofrontiers/sculptures
[submodule ".new-architecture/textiles"]
	path = .new-architecture/textiles
	url = https://github.com/museumwithnofrontiers/textiles
[submodule ".new-architecture/the-hijaz-railway"]
	path = .new-architecture/the-hijaz-railway
	url = https://github.com/museumwithnofrontiers/the-hijaz-railway
[submodule ".new-architecture/the-table-is-set"]
	path = .new-architecture/the-table-is-set
	url = https://github.com/museumwithnofrontiers/the-table-is-set
[submodule ".new-architecture/theatre"]
	path = .new-architecture/theatre
	url = https://github.com/museumwithnofrontiers/theatre
[submodule ".new-architecture/toys-games"]
	path = .new-architecture/toys-games
	url = https://github.com/museumwithnofrontiers/toys-games
[submodule ".new-architecture/wallpaintings"]
	path = .new-architecture/wallpaintings
	url = https://github.com/museumwithnofrontiers/wallpaintings
[submodule ".new-architecture/weights-measures"]
	path = .new-architecture/weights-measures
	url = https://github.com/museumwithnofrontiers/weights-measures
[submodule ".new-architecture/with-brush-and-qalam"]
	path = .new-architecture/with-brush-and-qalam
	url = https://github.com/museumwithnofrontiers/with-brush-and-qalam
[submodule ".new-architecture/woodwork"]
	path = .new-architecture/woodwork
	url = https://github.com/museumwithnofrontiers/woodwork
[submodule ".new-architecture/historical-cars"]
	path = .new-architecture/historical-cars
	url = https://github.com/museumwithnofrontiers/historical-cars
[submodule ".new-architecture/communication"]
	path = .new-architecture/communication
	url = https://github.com/museumwithnofrontiers/communication
[submodule ".new-architecture/ivory"]
	path = .new-architecture/ivory
	url = https://github.com/museumwithnofrontiers/ivory
[submodule ".new-architecture/archaeology"]
	path = .new-architecture/archaeology
	url = https://github.com/museumwithnofrontiers/archaeology
[submodule ".new-architecture/architectural-elements"]
	path = .new-architecture/architectural-elements
	url = https://github.com/museumwithnofrontiers/architectural-elements
[submodule ".new-architecture/museumwithnofrontiers.github.io"]
	path = .new-architecture/museumwithnofrontiers.github.io
	url = https://github.com/museumwithnofrontiers/museumwithnofrontiers.github.io
