[submodule ".legacy-database/ddl"]
	path = .legacy-database/ddl
	url = https://bitbucket.org/mwnf/database-creation.git
	shallow = true
[submodule ".legacy-database/data"]
	path = .legacy-database/data
	url = https://bitbucket.org/mwnf/database-content.git
	shallow = true
[submodule ".legacy-code/islamicart"]
	path = .legacy-code/islamicart
	url = https://bitbucket.org/mwnf/islamicart.museumwnf.org.git
	shallow = true
[submodule ".legacy-code/baroqueart"]
	path = .legacy-code/baroqueart
	url = https://bitbucket.org/mwnf/baroqueart.museumwnf.org.git
	shallow = true
[submodule ".legacy-code/sharinghistory"]
	path = .legacy-code/sharinghistory
	url = https://bitbucket.org/mwnf/sharinghistory.museumwnf.org.git
	shallow = true
[submodule ".legacy-code/explore"]
	path = .legacy-code/explore
	url = https://bitbucket.org/mwnf/explore.museumwnf.net.git
	shallow = true
[submodule ".legacy-code/dxa-api"]
	path = .legacy-code/dxa-api
	url = https://bitbucket.org/mwnf/dxa-api.git
	shallow = true
[submodule ".legacy-code/dxa-client"]
	path = .legacy-code/dxa-client
	url = https://bitbucket.org/mwnf/dxa-client.git
	shallow = true
[submodule ".legacy-code/exhibitions-client"]
	path = .legacy-code/exhibitions-client
	url = https://bitbucket.org/mwnf/exhibitions-client.git
	shallow = true
[submodule ".new-architecture/viewer-core"]
	path = .new-architecture/viewer-core
	url = https://github.com/museumwithnofrontiers/viewer-core
[submodule ".new-architecture/viewer-layout"]
	path = .new-architecture/viewer-layout
	url = https://github.com/museumwithnofrontiers/viewer-layout
[submodule ".new-architecture/viewer-workflows"]
	path = .new-architecture/viewer-workflows
	url = https://github.com/museumwithnofrontiers/viewer-workflows
[submodule ".new-architecture/website-template"]
	path = .new-architecture/website-template
	url = https://github.com/museumwithnofrontiers/website-template
[submodule ".new-architecture/islamicart"]
	path = .new-architecture/islamicart
	url = https://github.com/museumwithnofrontiers/islamicart
[submodule ".new-architecture/baroqueart"]
	path = .new-architecture/baroqueart
	url = https://github.com/museumwithnofrontiers/baroqueart
[submodule ".new-architecture/sharinghistory"]
	path = .new-architecture/sharinghistory
	url = https://github.com/museumwithnofrontiers/sharinghistory
[submodule ".new-architecture/carpets"]
	path = .new-architecture/carpets
	url = https://github.com/museumwithnofrontiers/carpets
[submodule ".new-architecture/water-in-islam"]
	path = .new-architecture/water-in-islam
	url = https://github.com/museumwithnofrontiers/water-in-islam
[submodule ".new-architecture/amulets"]
	path = .new-architecture/amulets
	url = https://github.com/museumwithnofrontiers/amulets
[submodule ".new-architecture/the-use-of-colours-in-art"]
	path = .new-architecture/the-use-of-colours-in-art
	url = https://github.com/museumwithnofrontiers/the-use-of-colours-in-art
[submodule ".new-architecture/viewer-i18n"]
	path = .new-architecture/viewer-i18n
	url = https://github.com/museumwithnofrontiers/viewer-i18n
[submodule ".legacy-code/office4"]
	path = .legacy-code/office4
	url = https://bitbucket.org/mwnf/office4
[submodule ".new-architecture/coins-medals"]
	path = .new-architecture/coins-medals
	url = https://github.com/museumwithnofrontiers/coins-medals
